body {
  background-color: #264d73;
  color: #ecf2f9;
  padding: 25px;
}

a {
  color: #ecf2f9;
}

div.nav {
	padding: 25px;
	color: white;
	font-size: 18px
}

p.title{
	font-size: 20px;
	font-weight: bold;
}

p.abstract {
	padding: 40px;
}