body {
  background-color: #264d73;
  color: #ecf2f9;
  padding: 25px;
}

a {
  color: #ecf2f9;
}

div.nav {
	padding: 25px;
	color: white;
	font-size: 18px
}

p.title{
	font-size: 20px;
	font-weight: bold;
	padding-right: 30px;
	padding-left: 30px;
}

p.abstract {
	padding-left: 50px;
	padding-right: 50px;
}

p.authors{
	font-style: italic;
	padding-right: 30px;
	padding-left: 30px;
}

p.preamble{
	padding-right: 30px;
	padding-left: 30px;
}

a:link{
	color: #d3dbe3;
}